/* 在CSS文件中引入antd的css文件 */
@import '~antd/dist/antd.css';
*{
    padding: 0;
    margin: 0;
}
.content{
    width:1200px;
    height: 450px;
    float:left;
}
.left{
    float:left;
    width: 150px;
    height: 450px;
}
.right{
    float: left;
    width: 1050px;
    height: 450px;
}
.nav{
    color: white;
    width: 150px;
    height: 40px;
    background: #61b3ed;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
.nav a{
    color: white;
}
.nav:hover{
    background: #4177ca;
}
.nav:active{
    background: #4177ca;
}
