<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body style="background:#dfdfdf">
    <div class="all">
        <header style="background:#61b3ed;width:1200px;height:80px;float:left;"> 
            <img src="./images/logo.png" style="width:7%;height:100%;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:75px;margin-left:40px;">爱游不错游后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav">
                <a href="/user">用户管理</a>
            </div>
            <div class="nav">
                <a href="/block">论坛管理</a>
            </div>
            <div class="nav">
                <a href="/score">积分管理</a>
            </div>
            <div class="nav">
                <a href="/material">资料管理</a>
            </div>
            <div class="nav">
                <a href="/system">系统管理</a>
            </div>
            <div class="nav">
                <a href="/home">返回</a>
            </div>
        </div>
        <div class="right">
            <div style="margin-top:150px;margin-left:400px;">
                <div style=" width: 230px;height: 50px;background: #61b3ed;margin-top: 50px;font-size: 18px;text-align: center;line-height: 45px;">
                    <a href="/block/post" style="color:white;text-decoration: none;">帖子管理</Link>
                </div>
                <div style=" width: 230px;height: 50px;background: #61b3ed;margin-top: 50px;font-size: 18px;text-align: center;line-height: 45px;">
                    <a href="/block/topic" style="color:white;text-decoration: none;">话题管理</Link>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>