<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body style="background:#dfdfdf">
    <div class="all">
        <header style="background:#61b3ed;width:1200px;height:80px;float:left;"> 
            <img src="./images/logo.png" style="width:7%;height:100%;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:75px;margin-left:40px;">爱游不错游后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav">
                <a href="/user">用户管理</a>
            </div>
            <div class="nav">
                <a href="/block">论坛管理</a>
            </div>
            <div class="nav">
                <a href="/score">积分管理</a>
            </div>
            <div class="nav">
                <a href="/material">资料管理</a>
            </div>
            <div class="nav">
                <a href="/system">系统管理</a>
            </div>
            <div class="nav">
                <a href="/">返回</a>
            </div>
        </div>
        
        <div class="right">
            <div style="font-size:20px;text-align:center;margin-left:150px;margin-top:130px;line-height:
            45px;">
                <div style="width:200px;height:150px;background:#f1a0a0;float:left;margin-right:50px;">
                    <p style="font-size: 35px;"><%= userListnew.length%></p>
                    <p>新注册用户数</p>
                </div>
                <div style="width:200px;height:150px;background:#aae5c2;float:left;margin-right:50px">
                    <p style="font-size: 35px;"><%= userListall.length%></p>
                    <p>累计用户数量</p>
                </div>
                <div style="width:200px;height:150px;background:#eeeb57;float:left">
                    <p style="font-size: 35px"><%= postList.length%></p>
                    <p>发帖量</p>
                </div>
                <p style="color:#4177ca;font-size:50px;margin-left:240px;margin-top:40px;float:left">
                    欢迎使用!!!
                </p>
            </div>
        </div>
    </div>
</body>
</html>
