<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- 后端资料、登录 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_oc50lig8xdq.css">
</head>
<body style="background:white">
    <div class="login">
        <div class="iconfont icon-yonghu" style="color:white;margin-top:10px; margin-left:240px;"></div>
        <p style="text-align:center">登录</p>
        <form method="POST" action="/home">
            <input class="first" type="text" placeholder=" 用户名:" name="username"/>
            <input class="first" type="text" placeholder=" 密码:" name="pwd"/>
            <input class="second" type="text" placeholder=" 验证码:" name="test"/>
            <input class="test" type="button" value="获取验证码" name="testcode"/>
            <button type="submit">登录</button>
        </form>
    </div>
</body>
</html>