<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- 后端资料、登录 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_jhvv0wew7i.css">
</head>
<body style="background:white">
    <div class="login">
        <div class="iconfont icon-yonghu" style="color:white;padding-top:10px; margin-left:240px;"></div>
        <p style="text-align:center">登录</p>
        <form>
            <input class="first" type="text" placeholder=" 用户名:" id="username"/>
            <input class="first" type="password" placeholder=" 密码:" id="pwd"/>
            <span class="iconfont icon-eye" id="eye"></span>
            <input class="second" type="text" placeholder=" 验证码:" id="test"/>
            <input class="test" type="button" value="获取验证码" id="testcode"/>
            <button type="button" id="login">登 录</button>
        </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"></script>
<script>
    function temp(id) {
        return document.getElementById(id);
    }
    temp('eye').onmouseout = function(){
        temp('pwd').type="password";
    }
    temp('eye').onmouseover = function(){
        temp('pwd').type="text";
    }
    $("#testcode").click(function() {
        var code=rand(1000,9999);
        $('#testcode').val(code);
        $('#testcode').css('font-size','22px');
    });
    function rand(min,max) {
        return Math.floor(Math.random()*(max-min))+min;
    }
    $(function(){
        $("#login").click(function(){
        $.ajax({
            url: "/home",
            method: "POST",
            data:{ 
                username: $('#username').val(), 
                pwd: $('#pwd').val(),
                test: $('#test').val(),
                testcode: $('#testcode').val(),
            },
            success:function(data){
                if(data=="success"){
                    window.location.href = "/home";
                }
                else if(data == "error"){
                        alert("账号或密码错误，请重新输入！");
                    }
                else if(data == "error"){
                    alert("账号或密码错误，请重新输入！");
                }
            }
        })
    });
    })
    
</script>
</html>