/* 积分表 */
/* 积分对照表 */
#bianji{
    background-color: #61b3ed;
    color: #fff;
}
.Listbox3{
    width: 945px;
    height: 380px;
    margin-left: 50px;
    margin-top: 10px;
    border:1px solid rgb(189, 181, 181);
    color: #000;
}
.ListList>li{
    width: 945px;
    height: 50px;
    border:1px solid #eee;
    /* line-height:3rem; */
    /* background-color: pink; */
    float: left;
}
.ListList{
    width: 945px;
    height: 380px;
    float: left;
}
.Listhead{
    text-align: center;
    width: 945px;
    height: 50px;
    border:1px solid #eee;
    /* line-height:3rem; */
    /* background-color: pink; */
    float: left;
}
.Listhead1{
    float: left;
    width: 185px;   
}
.Listbody{
    float: left;
    width: 185px;
    text-align: center;
    line-height: 45px;
}
.Listbox4{
    width: 945px;
    height:10px;
    text-align: center;
    /* background-color: #eee; */
    /* border:1px solid #eee; */
}
.Listbox4 p{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    /* color: #fff; */
    color: #4177CA;
    background-color: #61b3ed;
}
/* 个人详细积分 */
.Userbox3{
    width: 945px;
    height: 300px;
    margin-top:30px;
    margin-left: 50px;
    /* background-color: #eee; */
    border:1px solid #eee;
}
.Userbox3 ul{
    width: 945px;
    height: 300px;
    float: left;
}
.Userbox3 li{
    width: 945px;
    height: 50px;
    border:1px solid #eee;
    /* line-height:3rem; */
    /* background-color: pink; */
    float: left;
} 
.Userhead{
    background-color:white;
    text-align: center;
    line-height:3rem;
}
.Userhead1{
    float: left;
    width: 300px;
    color: black;
}

.Userimg{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px 0 0 45px;
}
.Userbody{
    float: left;
    width: 300px;
    color: black;
    text-align: center;
    line-height:3rem;

}
/* 积分对照表 */
.Managebox3{
    width: 945px;
    height: 300px;
    margin-left:50px;
    border:1px solid rgb(218, 208, 208);
    color: #000;
}
.ManageList>li{
    width: 945px;
    height: 50px;
    border:1px solid #eee;
    /* line-height:3rem; */
    /* background-color: pink; */
    float: left;
}
.ManageList{
    width: 945px;
    height: 300px;
    float: left;
}
.Managehead{
    text-align: center;
    width: 945px;
    height: 50px;
    border:1px solid #eee;
    /* line-height:3rem; */
    /* background-color: pink; */
    float: left;
}
.Managehead1{
    float: left;
    width: 235px;
}
.Managebody{
    float: left;
    width: 235px;
    text-align: center;
    line-height:45px;
}
.Topicoperation{
    float: left;
    margin:2px 0 0 70px;
}
.Topicoperation>button{
    width: 50px;
    height: 30px;
    background-color: #fff;
    border:1px solid #888;
    color: #4177CA;
}
.Managebox4{
    width: 945px;
    height:10px;
    text-align: center;
}
.Managebox4 p{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    /* color: #fff; */
    color: #4177CA;
    background-color: #61b3ed;
}
#pop-container {
    display: none;
    z-index: 999;
}
/*遮盖层*/
#cover-tier {
    /* background-color: #D9D9D9; */
    background-color: red;
    opacity: 0.5;
}
/*弹出层内容*/
#pop-tier {
    width: 380px;
    height: 390px;
    border: 2px solid #C3C3C3;
    background-color: #fff;
    margin: auto;
    text-align: center;
}
/*关闭弹框*/
#close-pop {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#pop-container {
    display: none;
    z-index: 999;
}
/*遮盖层*/
#cover-tier {
    background-color: #D9D9D9;
    opacity: 0.5;
}
/*弹出层内容*/
#pop-tier {
    width: 380px;
    height: 390px;
    border: 2px solid #C3C3C3;
    background-color: #fff;
    margin: auto;
    text-align: center;
}
/*关闭弹框*/
#close-pop {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.popPosition {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
