ul,li{
    list-style: none;
}
.Topicbox1{
    height: 60px;
    width: 1030px;
    margin:10px 0 0 10px;
    border:1px solid rgb(218, 208, 208);
}
.Topicsearch{
    height: 47px;
    width: 500px;
    margin:5px 0 0 5px;
    float: left;
    border:1px solid rgb(218, 208, 208);
}
.Topicsearch>input{
    height: 40px;
    width: 400px;
    float: left;
    font-size: 18px;
    border:1px solid #fff;
}
.Topicbox2{
    height: 50px;
    width: 1030px;
    margin:10px 0 0 10px;
    /* border:1px solid rgb(218, 208, 208); */
}
.Topicbox2>h1{
   float: left;
   font-size: 20px;
   margin:10px 0 0 10px;
}
.Topicbox2>h2{
    float: left;
    font-size: 17px;
    margin:11px 0 0 10px;
 }
.Topicbox2>button{
    float: left;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: black;
    font-size: 20px;
    border: 1px solid #000;
    margin: 10px 0 0 80px;
    border-radius: 5px;
 }
.Topicbox3{
    width: 1030px;
    height: 270px;
    margin:0 0 0 10px;
    border:1px solid rgb(218, 208, 208);
    color: #000;
}
.TopicList>li{
    width: 1030px;
    height: 50px;
    border:1px solid #eee;
    /* line-height:3rem; */
    /* background-color: pink; */
    float: left;
}
.TopicList{
    width: 1030px;
    height: 270px;
    float: left;
}
.Topichead{
    text-align: center;
    width: 945px;
    height: 50px;
    border:1px solid #eee;
    /* line-height:3rem; */
    /* background-color: pink; */
    float: left;
}
.Topichead1{
    float: left;
    width: 400px;
}
.TopicContent{
    float: left;
    margin:15px 0 0 50px;
}
.Topichead2{
    float: left;
    width: 150px;
}
.Topicoperation{
    float: left;
    margin:10px 0 0 100px;
}
.Topicoperation>button{
    width: 50px;
    height: 30px;
    background-color: #fff;
    border:1px solid #888;
    color: #4177CA;
}
.Topicbox4{
    width: 1030px;
    height:10px;
    text-align: center;
    /* background-color: #eee; */
    /* border:1px solid #eee; */
}
.Topicbox4 p{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    color: #fff;
    background-color: #4177CA;
}
#popLayer{
    position: absolute;
    display:none;
    left:0;
    top:0;
    z-index:0;
    background:#fff;
    opacity:0.8;
    filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
}
.pop{
    border: 2px solid #888;
}