body{
    background: white;
}
.dropdown {
    width: 100%;
    height: 5%;
    position:absolute;
    top: 1%;
    font-size: 15px;
}
.location{
    width: 70%;
    float: left;
    margin-left: 20%;
    line-height: 25px;
}

.xin:hover{
    color:red;
}