<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/score.css' />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_rw0sat5f54l.css">
    <!-- 后端论坛 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1528101_39ha99o5h31.css">
    <!-- 后端积分 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1529410_z44h9faz7b.css">
    <!-- 后端资料 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_ktip1pgrai.css">
</head>
<body style="background:#dfdfdf">
    <div class="all">
        <header style="background:#61b3ed;width:1200px;height:80px;float:left;"> 
            <img src="./images/logo.png" style="width:7%;height:100%;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:75px;margin-left:40px;">爱游不错游后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav">
                <a href="/score/list">积分表</a>
            </div>
            <div class="nav">
                <a href="/score/manage">积分对照表</a>
            </div>
            <div class="nav">
                <a href="/score/list">返回</a>
            </div>
        </div>
        <div class="right">
            <div class='Userbox3'>
                <ul>
                     <li style='text-align: left;line-height:3rem;'>
                         <h1>用户:一只兔子</h1>
                            
                         </li> 
                    <li class='Userhead'>
                        <h2 class='Userhead1'>完成任务内容</h2>
                        <h2 class='Userhead1'>积分变换</h2>
                        <h2 class='Userhead1'>总结分</h2>
                       
                    </li> 
                    <li>
                        
                        <p class='Userbody'>zhangsan</p>
                        <p class='Userbody'>123456</p>
                        <p class='Userbody'>man</p>

                       
                    </li>    
                </ul>
            </div>
            <div style=" width: 945px;height:10px;text-align: center;margin:20px auto;"> 
                <div style="margin-left:400px">
                    <p style=" width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    float: left;
                    color: #fff;
                    background-color: #4177CA;">&lt;</p>
                    <p style=" width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    float: left;
                    color: #fff;
                    background-color: #4177CA;">1</p>
                    <p style=" width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    float: left;
                    color: #fff;
                    background-color: #4177CA;">&gt;</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>