<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body style="background:#dfdfdf">
    <div class="all">
        <header style="background:#61b3ed;width:1200px;height:80px;float:left;"> 
            <img src="./images/logo.png" style="width:7%;height:100%;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:75px;margin-left:40px;">爱游不错游后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav">
                <a href="/user">用户管理</a>
            </div>
            <div class="nav">
                <a href="/block">论坛管理</a>
            </div>
            <div class="nav">
                <a href="/score">积分管理</a>
            </div>
            <div class="nav">
                <a href="/material">资料管理</a>
            </div>
            <div class="nav">
                <a href="/system">系统管理</a>
            </div>
            <div class="nav">
                <a href="/">返回</a>
            </div>
        </div>
        <div class="right">
            <div style="width:1000px;height:400px;margin:20px auto;background:#b4dcf8;font-size:17px;">
                <div style="height:150px;">
                    <p style="text-align:center;color:#4177ca;">当前管理员信息</p>
                    <img src="./images/logo.png" style="width:80px;height:80px;float:left;margin-left:40px;margin-right:20px;"/>
                    <p style="margin-top:15px">
                        用户名：
                        <span>admin</span>
                    </p>
                    <p style="margin-top:10px">
                        真实姓名：
                        <span>admin</span>
                    </p>
                </div>
                <div style="width:600px;height:210px;margin:20px auto;text-align:center;line-height:40px;">
                    <div style="width:240px;height:40px;background:#eef7fe;margin-left:50px;margin-top:20px;color:#5a71c5;float:left;">
                        <p>性别：
                            <span>男</span>
                        </p>
                    </div>
                    <div style="width:240px;height:40px;background:#eef7fe;margin-left:50px;margin-top:20px;color:#5a71c5;float:left;">
                        <p>手机号：
                            <span>xxxxxxxxxxx</span>
                        </p>
                    </div>
                    <div style="width:240px;height:40px;background:#eef7fe;margin-left:50px;margin-top:20px;color:#5a71c5;float:left;">
                        <p>邮箱：
                            <span>xxxxxxx</span>
                        </p>
                    </div>
                    <div style="width:240px;height:40px;background:#eef7fe;margin-left:50px;margin-top:20px;color:#5a71c5;float:left;">
                        <p>职位：
                            <span>开发</span>
                        </p>
                    </div>
                    <button style="width:180px;height:40px;background:#70bdf1;border:none;color:#6882da;margin-left:40px;margin-top:30px;font-size:18px;">编辑</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>