<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/user.css' />
    <!-- 后端论坛 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1528101_39ha99o5h31.css">
    <!-- 后端积分 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1529410_z44h9faz7b.css">
    <!-- 后端资料 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_ktip1pgrai.css">
</head>
<body>
    <div class="all">
        <header style="background:#61b3ed;width:1200px;height:80px;float:left;"> 
            <img src="./images/logo.png" style="width:7%;height:100%;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:75px;margin-left:40px;">爱游不错游后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav">
                <a href="/user">用户管理</a>
            </div>
            <div class="nav">
                <a href="/block">论坛管理</a>
            </div>
            <div class="nav">
                <a href="/score">积分管理</a>
            </div>
            <div class="nav">
                <a href="/material">资料管理</a>
            </div>
            <div class="nav">
                <a href="/system">系统管理</a>
            </div>
            <div class="nav">
                <a href="/">返回</a>
            </div>
        </div>
        <div class="right">
            <div class="box1">
                <div class='search'>
                    <input class='Bar' placeholder="搜索用户"/>
                    <div class="iconfont icon-sousuo da" style="margin-top:5px;margin-right:15px;float:right"></div>
                </div>
            </div>
           <div class='Userbox3'>
               <ul>
                   <li class='Userhead'>
                       <h3 class='Userhead1'>头像</h3>
                       <h3 class='Userhead1'>用户名</h3>
                       <h3 class='Userhead1'>手机号</h3>
                       <h3 class='Userhead1'>性别</h3>
                       <h3 class='Userhead1'>生日</h3>
                       <h3 class='Userhead1'>所在地</h3>
                       <h3 class='Userhead1'>操作</h3>
                   </li> 
                   <li>
                       <div class='Userbody'>
                       <img class="Userimg" src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2973069531,657782944&fm=26&gp=0.jpg"/>
                       </div>
                       <p class='Userbody'>zhangsan</p>
                       <p class='Userbody'>123456</p>
                       <p class='Userbody'>man</p>

                       <p class='Userbody'>20000101</p>

                       <p class='Userbody'>beijing</p>                        
                       <button class='Userdel' >移除</button>
                   </li>    
               </ul>
           </div>
           <div style=" width: 945px;height:10px;text-align: center;margin:20px auto;"> 
               <div style="margin-left:400px">
                   <p style=" width: 20px;
                   height: 20px;
                   border-radius: 50%;
                   float: left;
                   color: #fff;
                   background-color: #4177CA;">&lt;</p>
                   <p style=" width: 20px;
                   height: 20px;
                   border-radius: 50%;
                   float: left;
                   color: #fff;
                   background-color: #4177CA;">1</p>
                   <p style=" width: 20px;
                   height: 20px;
                   border-radius: 50%;
                   float: left;
                   color: #fff;
                   background-color: #4177CA;">&gt;</p>
               </div>
           </div>
        </div>
    </div>
</body>
</html>