<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/user.css' />
</head>
<body style="background:#dfdfdf">
    <div class="all">
        <header style="background:#61b3ed;width:1200px;height:80px;float:left;"> 
            <img src="../images/logo.png" style="width:7%;height:100%;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:75px;margin-left:40px;">爱游不错游后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav">
                <a href="/material/spot">返回</a>
            </div>
        </div>
        <div class="right" >
            <div style="margin:150px auto;width:250px;height: 130px;font-size: 28px;text-align: center;background:#b4dcf8;padding-top: 10px;">
                删除该景点成功！
                <div style="margin:30px auto">
                    <a href='/material/spot'>
                        <button style="background-color: white;color:#61b3ed;border: 1px solid #61b3ed;width: 50px;height: 30px;">返回</button>
                    </a>
                </div>  
            </div>
        </div>
    </div>
</body>
</html>